* {
    font-size: 1rem;
}
.custom-head {
    color: #16b1d6;
    width: fit-content;
    margin-right: 1em;
}.custom-cont {
    padding: 2em 5em;
    width: 100%;
} .header-cont {
    margin-bottom: 1em;
    display: flex;
} .header-cont > span {
    font-weight: bold;
    color: #939496;
}

.nav-cont {
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: #414042;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    border: 1px solid black;
    padding: 0 2em;
}.nav-logo {
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}.nav-logo > a {
    height: 100%;
    display: block;
}.nav-logo > a > img {
    height: 90%;
    width: auto;
} .nav-cont li {
    color: #828385;
    display: inline-block;
    font-weight: bold;
    margin-right: 1em;
}.nav-cont li:hover {
    color: white;
} .nav-cont li span::after {
    content: '';
    border-top: 5px solid #00aad3;
    display: block;
    width: 0%;
    transition: width .2s ease-in-out;
} .nav-cont li:hover span::after {
    width: 50%;
}
.in-custom input {
    color: white;
    background-color: #0000;
    display: none;
    outline: none;
    border: none;
    padding: 0 1em;
} .in-custom {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
    padding: 5px;
    width: 2em;
    border: 1px solid black;
    transition: width .5s ease-in-out;
} .in-custom:hover {
    width: 10em;
}  .in-custom:hover input {
    display: block;
    width:90%;
}

.banner-cont {
    border: 1px solid black;
    width: 100%;
    height: 85vh;
    overflow: hidden;
    border:1px solid black;
}.carousel-item {
    height: 85vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    overflow: hidden;

}.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} .overlay {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0,0,0,.2);
} .overlay > div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 4em 6em;
} .overlay > div > h3 {
    color: white;
} .overlay > div > div {
    background-color: #613839;
    color: white;
    width: fit-content;
    padding: 5px 10px;
} .overlay > div > a {
    color: white !important;
    display: block;
    text-decoration: none;
    background-color: blue;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: .5em;
}

/* ====== Showing content ======== */

.showing-cont > div{
    text-align: center;
    height: 300px;
    margin-bottom: 1em;
} .showing-cont > div > div {
    width: 97%;
    height: 100%;
    overflow: hidden;
} .i-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}.movie-box {
    position: relative;
} .movie-box > .overlay {
    color: white;
    position: absolute;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    transition: opacity .4s ease-in-out;
}.movie-box > .overlay > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
}.movie-box:hover .overlay {
    opacity: 1;
}

/* ============================== */

/* ====== footer cont ========== */
.footer-cont {
    border-top: 1px solid rgba(0,0,0,.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
} .footer-cont > .nav-logo {
    height: 100px;
} .footer-cont ul li {
    display: inline-block;    
    color: #828385;
    font-weight: bold;
    border-right: 2px solid #828385;
    padding: 0 1em;
} .footer-cont ul {
    padding: 0;
} .social-cont li{
    border-right:none !important;
    padding: 0 5px !important;
    font-size: 1.5rem;
}

/* ============================== */

/* ======= movie detail ========== */
.movie-detail {
    padding-top: 1em;
    width: 100%;
}
.movie-detail > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
} .movie-detail small {
    display: block;
    color: #00aad3;
    font-weight: bold;
} .movie-detail .movie-time {
    font-size: 9pt;
    display: block;
    background-color: #414042;
    color: white;
    font-weight: 600;
    padding: 2px 8px;
    border-radius: 5px;
} .movie-detail p {
    width: 100%;
    font-size: 10pt;
} .movie-desc {
    width: 100%;
    padding: 1em;
} .movie-booking {
    background-color: #414042;
    color: white;
    border-radius: 15px 0;
    padding: 1em 3em;
    min-height: 50vh;
} .movie-booking > div > div {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}  .movie-booking > div:nth-child(1) {    
    display: flex;
    justify-content: space-around;
    gap: 2em;
}.book-now {
    height: 100px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: flex-end;
}.book-now > form {
    width: 100%;
} .custom-btn {
    outline: none;
    background-color: rgba(255,0,0,0);
    width: 10em;
    height: 2.5em;
    color: white;
    border: 1px solid rgba(255,255,255,1);
    width: 100%;
    font-size: 20px;
    transition: all .4s ease-in-out;
} .custom-btn:hover {
    background-color: rgba(255,0,0,1);
    border:1px solid rgba(255,255,255,0);

}
/* ============================== */

/* ========== qr ================ */
    .qr-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em 0;
    } .qr-body {
        width: 500px;
        border: 1px solid rgba(0,0,0,.2);
        height: 500px;
        overflow-y: auto;
        text-align: center;
    } .qr-body h4 {
        margin-bottom: 1em;
    }
/* ============================== */

/*  ======= Seat input ========= */
.seat-sel {
    padding: 1em 0;
    display: flex;
    width: 100%;
    gap: 1em;
    justify-content: center;
} .seat-sel input {
    width: 5em;
    pointer-events: none;
    text-align: center;
    color: white;
    background-color: #414042   ;
} .seat-sel span {
    background-color: red;
    user-select: none;
    padding: 1em;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}
/* ============================= */

